.banner {
    margin: 0 auto;
    max-width: 1200px;

    &__img-container {
        position: relative;
        z-index: 1;
    }

    &__img {
        background-color: #cccccc;
        background-image: url(../photos/diplomat-car-cover.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    &__header-title {
        bottom: 20px;
        color: $color-1;
        font-family: $regular;
        font-size: 40px;
        font-weight: lighter;
        padding-left: 30px;
        position: absolute;
        text-shadow: 5px 5px 5px #000;
        width: 100%;
    }

    &__counters-container {
        background-color: $color-3;
        display:flex;
        justify-content: center;
    }

    &__counter {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 25px 0;
        width: 25%;
    }

    &__counter-data {
        color: $color-1;
        font-family: $regular;
        font-size: 36px;
    }

    &__counter-title { 
        color: $color-2;
        font-family: $regular;
        font-size: 20px;
    }
}

@media (min-width: 320px ) and (max-width: 767px) {

    .banner {
        
        &__img {
            height: 200px;
            width: 100%;

            &-container {
                width:100%;
            }
        }
    
        &__counters-container {
            flex-direction: row;
        }
    
        &__counter {
            text-align: center;
            width: 25%;

            &-data {
                font-size: 22px;
            }

            &-title { 
                font-size: 14px;
            }
        }
    
        &__header-title {
            bottom: 5px;
            font-size: 18px;
            padding-left: 5px;
        } 
    }
}


