.contact {
    background-color: $color-3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0;

    &__title {
        color: $color-1;
        font-family: $regular;
        font-size: 36px;
        margin: 45px 0;
        text-align: center;
        width: 100%;
    }

    &__box {
        text-align: center;
        width: 40%;
    
        p {
            color: $color-1;
            font-family: $regular;
            margin: 5px 0;
            text-align: center;
        }
    
        a {
            color: $color-1;
            font-family: $regular;
            text-decoration: none;
    
            &:hover {
                color: $color-1;
            }
        }
    }
}

@media (min-width: 320px ) and (max-width: 767px) {
    
    .contact__box {
        margin-bottom: 25px;
        width: 100%;

        p {
            font-size: 20px;
            margin: 10px;
        }
        img {
            margin: 40px 20px 20px;
        }
    }
}