.gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: $bold;
    color: $color-2;
    margin: 45px 0;
}

.gallery__container { 
    width: 33%;
    margin: auto;
}

.gallery__photo {
    width: 100%;
}

.js-hidden-gallery {
    display: none;
}

.gallery__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.gallery__button {
    background-color: $color-3;
    padding: 20px;
    font-size: 16px;
    font-family: $bold;
    color: $color-1;
    border: none;

    &:focus {
        outline: 1px $color-3;
    }

    &:hover {
        cursor: pointer;
        background-color: $color-1;
        color: $color-3;
        border: 1px solid $color-3;
    }
}



@media (min-width: 768px) and (max-width: 1200px) {
}

@media (min-width: 320px ) and (max-width: 767px) {

.gallery__container { 
    width: 49%;
}
}