.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;

    &__logo-container {
        max-width: 150px;
    }
    
    &__logo {
        width: 100%;
    }
}

.navigation {

    &__mobile-button {
        display: none;
    }

    &__list {
        display: flex;
        list-style-type: none;
        z-index: 100;

        &-item {
            padding-right: 10px;
        }
    }

    &__link {
        color: $color-2;
        font-family: $regular;
        font-size: 16px;
        text-decoration: none;
        transition: 350ms ease;
    
        &:hover{ 
            color: $color-3;
        }
    }

    &__flags {
        filter: grayscale(50%);
        max-width: 30px;
        transition: 350ms ease;
        &:hover{
            filter: grayscale(0%);
        }
    }
}

@media (min-width: 320px ) and (max-width: 767px) {

    .navigation {

        &__mobile-button {
            background-color: transparent;
            border: none;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            padding: 5px;
    
            span {
                background-color: $color-2;
                height: 4px;
                margin:2px 0;
                width: 30px;
            };
    
            &:hover {
                cursor: pointer;
            }

            &--red {
                background-color: $color-3;
            }
        }
        
        &__list {
            background: $color-3;
            border: 1px solid $color-1;
            display: none;
            max-width: 280px;
            min-width: 50%;
            padding: 20px 0;
            position: absolute;
            right: 20px;

            &-item {
                padding: 5px 20px;
            }
        }

        &__link {
            display: inline-block;
            text-align: center;
            width: 100%;
    
            &:hover {
                color: $color-1;
            }
        }
    }
}