.services {
    background-color: $color-3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;

    &__title { 
        color: $color-1;
        font-family: $regular;
        font-size: 36px;
        margin: 45px 0;
        text-align: center;
        width: 100%;
    }
    
    .service__box {
        align-items: center;
        display:flex;
        flex-direction: column;
        margin: 20px 0 30px;
        width: 33%;

        &-title {
            color: $color-1;
            font-family: $regular;
            font-size: 24px;
            padding: 10px 0;
            text-align: center;
        }
        
        &-text {
            color: $color-2;
            font-family: $regular;
            font-size: 16px;
            padding: 10px 5px ;
            text-align: center;
        }

        &-img {
            margin: 0 auto;
        }
    }
}

@media (min-width: 320px ) and (max-width: 767px) {
    
    .services {
        flex-direction: column;

        .service__box {
            width: 100%;

            &-text {
                font-size: 20px;
                padding: 10px 10px ;
            }
        }
    }
}