.emergency { 
    background-color: $color-2;
    display: flex;
    margin:0 auto;
    max-width: 1200px;
    padding-top: 20px;
    text-align: center;

    &__box {

        &-small {
            padding-right: 40px;
            width: 50%;
        }

        &-wide {
            padding-bottom: 20px;
            padding-left: 40px;
            width: 50%;
        }
    }

    &__photo {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    &__title {
        color: $color-1;
        font-family: $regular;
        font-size: 36px;
        font-weight: normal;
        letter-spacing: 2px;
        margin: 20px 0;

        &--large-bold {
            font-family: $bold;
            font-size: 44px;
        }
    }
    
    &__contact {
        font-family: $regular;
        font-size: 20px;
        padding: 10px 20px;
    
        a {
            color: $color-1;
            text-decoration: none;
        }
    }

    &__call-button {
        border: 2px solid $color-1;
        color: $color-1;
        display:inline-block;
        font-family: $regular;
        font-size: 20px;
        margin-top: 25px;
        padding: 10px 20px;
        text-decoration: none;
        transition: 350ms ease;
       
        &:hover {
            background-color: rgba($color-1, 0.3);
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .emergency {

        &__box {

            &-small {
                padding-right: 40px;
                width: 50%;
            }

            &-wide {
                padding-bottom: 20px;
                padding-left: 40px;
                width: 50%;
            }
        }
    
        &__contact {
            font-size: 16px;
            padding: 5px 10px;
        }
    }
}

@media (min-width: 320px ) and (max-width: 767px) {

    .emergency {
        flex-direction: column; 

        &__box {

            &-small {
                order: 1;
                padding-right: 0;
                width: 100%;
            }

            &-wide {
                order: 2;
                padding-left: 0;
                width: 100%;
            }
        }

        &__title {
            text-align: center;
        }

        &__contact {
            text-align: center;
        }

        &__call-button {
            text-align: center;
            margin: 30px auto 50px;
        }
    } 
}