*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import 'fonts';
@import 'variables';
@import 'navigation';
@import 'banner';
@import 'aboutUs';
@import 'services';
@import 'gallery';
@import 'contact';
@import 'support';