/*GENERAL*/
* {
    margin: 0;
    padding: 0;
}
.centering {
    margin: 0 auto;
}
.title {
    text-align: center;
    margin: 20px auto;
}
h3 {
    text-align: center;
}
p {
    text-align: justify;
    margin: 10px auto;
}

/*MENU*/
.logo {
    width: 150px;
}
.fullwidth {
    width: 100%;
}
#navbarNavDropdown{
    justify-content: flex-end;
}
.flags {
    width: 30px;
}
.nav-link {
    text-align: center;
}

/*ABOUT US*/

/*SERVICES*/
.services p {
    text-align: center;
    font-size: large;
}

/* Numbers section  */
.counter-container{
    text-align: center;

}
.counter {
    font-size: 36px;
    font-weight: 700;
}
.counter-container span{
    font-weight: 500;
    font-size: 1.25rem;
}
/* CONTACT */
